@page "/datamining"

<h4>DataMining</h4>
<div id="div">0</div>
<script src="scripts/datamining.js"></script>
<canvas id="canvas" width="500" height="500" style="border:1px solid #000000;"></canvas>


@code {

}
